.title {
    text-align: center;
    font-size: 5rem;
    margin: 6rem 0;
    color: var(--black);

}

.container {
    width: 95%;
    max-width: 100rem;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
}

/* Mobile */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
