:root {
    --white: #fff;
    --primary: #f59e0b;
    --black: #000;

}
html{
    font-size: 62.5%;
}

body {
    font-family: 'outfit', sans-serif;
    background-image: url('./public/Img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--white);
    font-size: 2rem;
    position: center;
   
}


